<<<<<<< HEAD
body{
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

header{
    background-color: #333;
    color: white;
    padding: 20px;
}

section{
    margin: 20px;
}

footer{
    margin-top: 40px;
=======
body{
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

header{
    background-color: #333;
    color: white;
    padding: 20px;
}

section{
    margin: 20px;
}

footer{
    margin-top: 40px;
>>>>>>> ecc253a0c1953b3f1b2c117563a92895f81c6ab9
}